body {
    font-family: sans-serif;
    background-color: rgb(24,24,24);
    color: lightgray;
    margin: 0;
}
nav {
    align-items: center;
    background-color: rgb(24,24,24);
    display: grid;
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px;
    opacity: .9;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav:hover {
    opacity: 1;
}

nav div{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: darkred;
}

header {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

main {
    display: grid;
    grid-template-rows: minmax(1000px 2000px) 400px;
}

h1 {
    font-size: 10vw;
    color: white;
}

h2 {
    font-size: 36px;
    color: white;
}

h3 {
    font-size: 26px;
}

hr {
    margin-top: -20px;
    width: 20%;
}

.blueText{
    color: #003366;
}

#grid-container, #header-title,
#profile, #profile-body,
#profile-section1, #profile-section2,
#profile-section3, #profile-section4,
#skills, #skills-row1, #skills-row2, #skills-row3{
    display: grid;
}

#grid-container{
    grid-template-rows: 600px 1600px 200px;
}

#header-photo{
    background-image: url("Images/beach_pic.jpg");
    background-size: cover;
}

#header-wrapper{
    background-image: url("Images/code.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#header-title{
    background-color: rgb(24, 24, 24);
    grid-template-rows: 3fr 1fr 2fr;
    height: 600px;
    justify-items: center;
    opacity: .9;
}

#header-title h1{
    align-self: flex-end;
    opacity: 1;
}

#header-title p{
    color: lightgray;
    font-size: 3vw;
    margin-top: -35px;
    opacity: 1;
    padding: 0 70px 0 70px;
    text-align: center;
}

#header-title button{
    background-color: darkred;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    font-size: 2vw;
    height: 60px;
}

#profile{
    background-color: whitesmoke;
    color: black;
}

#profile-body{
    grid-template-rows: repeat(4, 1fr);
}

#profile-title, #skills-title{
    margin-top: 0;
    text-align: center;
}

#profile-section1, #profile-section3{
    grid-template-columns: 3fr 2fr;
}

#profile-section2, #profile-section4{
    grid-template-columns: 2fr 3fr;
}

#profile-section1 p, #profile-section2 p,
#profile-section3 p, #profile-section4 p{
    font-size: 20px;
    margin-top: -5px;
    padding: 0 7% 0 7%;
    text-align: justify;
}

#profile-photo{
    align-self: flex-start;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    justify-self: center;
    max-height: 250px;
    max-width: 300px;
    width: 98%;
}

#skills{
    background-color: lightgray;
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 100px 100px 100px;
}

#skills-row1, #skills-row2{
    grid-template-columns: repeat(6, 1fr);
}

#photo{
    justify-self: center;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 98%;
    width: 100px;
}

@media(max-width: 600px){
    nav div{
        visibility: hidden;
    }

    #profile-section1, #profile-section2, #profile-section3, #profile-section4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #profile-section1 p, #profile-section2 p,
    #profile-section3 p, #profile-section4 p{
        grid-row: 1/2;
        font-size: 18px;
    }

    #profile-section1 img, #profile-section2 img,
    #profile-section3 img, #profile-section4 img{
        grid-rows: 2/3;
    }

    #profile-photo{
        height: 100%;
        max-height: 200px;
        max-width: 200px;
    }


}
