body {
    font-family: sans-serif;
    background-color: #D3D3D3;
    color: lightgray;
    margin: 0;
}
nav {
    align-items: center;
    background-color: rgb(24,24,24);
    display: grid;
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: 40px repeat(5, 1fr) 40px;
    grid-template-rows: 50px;
    opacity: .9;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav:hover {
    opacity: 1;
}

nav div{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: darkred;
}

header {
    background-image: url("Images/java_cup.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

header h1 {
    align-self: center;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 700px 700px;
}

main a{
    color: darkred;
    text-decoration: none;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 22px;
}

.blueText{
    color: #003366;
}

.bar1, .bar2, .bar3 {
    background-color: #fff;
    height: 3px;
    margin: 6px;
    transition: 0.4s;
    width: 35px;
    visibility: hidden;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);

}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
  transform: rotate(45deg) translate(-3px, -8px);
}

.dropdown-content {
    background-color: rgb(24,24,24);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    width: 0;
    position:absolute;
    top: 51px;
    z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
    display:block;
}

#grid-container, #title-container, #poker-container, #app-container{
    display: grid;
}

#grid-container {
    grid-template-rows: 500px 600px 1200px;
}

#title-container {
    background-color: black;
    height: 500px;
    opacity: .9;
    width: 100%;
}

#poker-container{
    grid-template-rows: 60px 60px 400px;
}

#app-title {
    color: #003366;
    text-align: center;
    text-shadow: 1px 1px rgba(0,0,0,0.23);
}

#app-link {
    text-align: center;
}

#app-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
}

#app-photo{
    width: 100%;
}

@media(max-width: 600px){
    nav div{
        visibility: hidden;
    }

    .bar1, .bar2, .bar3{
        visibility: visible;
    }

    .dropdown-content {
        width: 34vw;
        visibility: visible;
    }
}
