body {
    font-family: sans-serif;
    background-color: #D3D3D3;
    margin: 0;
}

nav, header, main, footer {
    display: grid;
}
nav {
    align-items: center;
    background-color: rgb(24,24,24);
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: 40px repeat(5, 1fr) 40px;
    grid-template-rows: 50px;
    opacity: .9;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav:hover {
    opacity: 1;
}

nav div{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: steelblue;
}

header {
    background-image: url("Images/neural_network.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

header h1 {
    place-self: center;
    max-width: 800px;
    text-align: center;
}

main h2 {
    color: #003366;
    text-shadow: 1px 1px rgba(0,0,0,0.23);
    place-self: center;
}

iframe {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    align-self: flex-start;
    justify-self: center;
}

button{
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 60px;
}

iframe {
    max-width: 650px;
    width: 80vw;
    height: 95%;
    }

p {
    justify-self: flex-end;
    font-size: 18px;
    max-width: 400px;
    padding: 0 20px 0 20px;
}

img {
    max-width: 400px;
}

footer {
    align-items: center;
    background-color: rgb(24,24,24);
    color: whitesmoke;
    grid-template-rows: 50px 80px;
    text-align: center;
}

footer a {
    color: whitesmoke;
    font-size: 28px;
}

footer p {
    font-size: 12px;
}

h1 {
    font-size: 72px;
    color: white;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 22px;
}

.blueText{
    color: #003366;
}

.bar1, .bar2, .bar3 {
    background-color: #fff;
    height: 3px;
    margin: 6px;
    transition: 0.4s;
    width: 35px;
    visibility: hidden;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);

}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
  transform: rotate(45deg) translate(-3px, -8px);
}

.dropdown-content {
    background-color: rgb(24,24,24);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    width: 0;
    position:absolute;
    top: 51px;
    z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
    display:block;
}

#hamburger-container{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#grid-container, #button-container, #video,
#paper, #iframe-container, #app, #app-container,
#app-explanation, #link-container, #copyright {
    display: grid;
}

#grid-container{
    grid-template-rows: 500px auto 150px;
}

#video {
    grid-template-rows: 60px 340px;
}

#paper{
    grid-template-rows: 60px 640px;
}


#app{
    grid-template-rows: 30px 50px auto;
}

#app-link{
    text-align: center;
}

#app a{
    color: darkred;
    text-decoration: none;
}

#app-container{
    grid-template-rows: repeat(6, auto);
}

#app-explanation{
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}

#app-photo{
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    width: 100%;
}

#link-container {
    align-items: flex-end;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-column-gap: 20px;
    justify-content: center;
}

#copyright {
    display: grid;
    height: 80px;
    justify-content: center;
}

@media (max-width: 600px)
{
    #app-explanation{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto
    }

    nav div{
        visibility: hidden;
    }

    p {
        justify-self: center;
    }

    img {
        justify-self: center;
    }

    .bar1, .bar2, .bar3{
        visibility: visible;
    }

    .dropdown-content {
        width: 34vw;
        visibility: visible;
    }
}
