body {
    font-family: sans-serif;
    background-color: whitesmoke;
    color: lightgray;
    margin: 0;
}

nav, header, main, footer {
    display: grid;
}

nav {
    align-items: center;
    background-color: rgb(24,24,24);
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: 40px repeat(5, 1fr) 40px;
    grid-template-rows: 50px;
    opacity: .9;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav:hover {
    opacity: 1;
}

nav div{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: steelblue;
}

header {
    grid-template-columns: 2fr 4fr;
}

main {
    grid-template-rows: minmax(1000px 2000px) 400px;
}

footer {
    align-items: center;
    background-color: rgb(24,24,24);
    grid-template-rows: 50px 80px;
    text-align: center;
}

footer a {
    color: whitesmoke;
    font-size: 28px;
}

footer a:hover {
    color: steelblue;
}

footer p {
    font-size: 12px;
}

h1 {
    font-size: 10vw;
    color: white;
}

h2 {
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.23);
}

h3 {
    font-size: 26px;
}

hr {
    margin-top: -20px;
    width: 20%;
}

.blueText{
    color: #003366;
}

.bar1, .bar2, .bar3 {
    background-color: #fff;
    height: 3px;
    margin: 6px;
    transition: 0.4s;
    width: 35px;
    visibility: hidden;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);

}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
  transform: rotate(45deg) translate(-3px, -8px);
}

.dropdown-content {
    background-color: rgb(24,24,24);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    width: 0;
    position:absolute;
    top: 51px;
    z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
    display:block;
}

#grid-container, #header-title,
#profile, #profile-body,
#profile-section1, #profile-section2,
#profile-section3, #profile-section4,
#skills, #skills-row1, #skills-row2,
#skills-row3, #link-container, #copyright{
    display: grid;
}

#grid-container{
    grid-template-rows: 600px auto 150px;
}

#hamburger-container{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#header-photo{
    background-image: url("Images/beach_pic.jpg");
    background-size: cover;
}

#header-wrapper{
    background-image: url("Images/code.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#header-title{
    background-color: rgb(24, 24, 24);
    grid-template-rows: 120px 120px 200px 100px;
    height: 600px;
    justify-items: center;
    opacity: .9;
}

#header-title h1{
    opacity: 1;
}

#header-title p{
    color: lightgray;
    font-size: 3vw;
    max-width: 500px;
    opacity: 1;
    padding: 0 10% 0 10%;
    text-align: center;
}

#header-title button{
    background-color: darkred;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    font-size: 2vw;
    height: 60px;
}

#profile{
    color: black;
    justify-self: center;
    max-width: 800px;
}

#profile-body{
    grid-template-rows: auto;
    grid-row-gap: 15px;
    padding-bottom: 40px;
}

#profile-title, #skills-title{
    margin-top: 0;
    text-align: center;
}

#profile-section1, #profile-section3{
    grid-template-columns: 3fr 2fr;
}

#profile-section2, #profile-section4{
    grid-template-columns: 2fr 3fr;
}

#profile-section1 p, #profile-section2 p,
#profile-section3 p, #profile-section4 p{
    font-size: 20px;
    margin-top: -2px;
    padding: 0 5% 0 5%;
    text-align: justify;
}

#profile-photo{
    background-size:contain;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    justify-self: center;
    width: 100%;
    max-height: 250px;
    max-width: 300px;
}

#skills{
    background-color: lightgray;
    grid-row-gap: 20px;
    grid-template-rows: 100px 100px 100px 50px;
}

#skills-row1, #skills-row2{
    grid-template-columns: repeat(6, 1fr);
}

#photo{
    justify-self: center;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 98%;
    width: 100px;
}

#link-container {
    align-items: flex-end;
    height: 50px;
    grid-template-columns: repeat(5, 30px);
    grid-column-gap: 20px;
    justify-content: center;
}

#copyright {
    display: grid;
    height: 80px;
}

@media(min-width: 800px){
    #header-title{
        grid-template-rows: 80px 160px 200px 100px;
    }

    #header-title h1{
        font-size: 78px;
    }

    #header-title p{
        font-size: 24px;
    }

    #header-title button {
        font-size: 18px;
    }

    #profile-section1 p, #profile-section3 p{
        justify-self: flex-end;
    }

    #profile-section3 p{
        padding-top: 10px;
    }

    #profile-section1 img, #profile-section3 img{
        justify-self: flex-start;
    }

    #profile-section2 img, #profile-section4 img{
        justify-self: flex-end;
    }
}

@media(max-width: 600px){
    nav div{
        visibility: hidden;
    }

    .bar1, .bar2, .bar3{
        visibility: visible;
    }

    .dropdown-content {
        width: 34vw;
        visibility: visible;
    }

    #header-title{
        grid-template-rows: 80px 120px 220px 100px;
    }

    #header-title p {
        font-size: 18px;
        padding: 0 10px 0 10px;
    }

    #header-title button {
        font-size: 12px;
    }

    #profile-section1, #profile-section2, #profile-section3, #profile-section4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #profile-section1 p, #profile-section2 p,
    #profile-section3 p, #profile-section4 p{
        grid-row: 1/2;
        font-size: 18px;
    }

    #profile-section1 img, #profile-section2 img,
    #profile-section3 img, #profile-section4 img{
        grid-rows: 2/3;
    }

    #profile-photo{
        height: 100%;
        max-height: 200px;
        max-width: 250px;
    }

}
