body {
    font-family: sans-serif;
    background-color: #D3D3D3;
    margin: 0;
}
nav {
    align-items: center;
    background-color: rgb(24,24,24);
    display: grid;
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px;
    opacity: .9;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav:hover {
    opacity: 1;
}

nav div{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: darkred;
}

header {
    background-image: url("Images/neural_network.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    height: 100%;
    width: 100%;
}

header h1 {
    align-self: center;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 400px 700px 400px;
}

main h2 {
    color: #003366;
    text-shadow: 1px 1px rgba(0,0,0,0.23);
    place-self: center;
}

iframe {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    align-self: flex-start;
    justify-self: center;
}

h1 {
    font-size: 72px;
    color: white;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 22px;
}

button{
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 60px;
}

.blueText{
    color: #003366;
}

#grid-container, #button-container, #video, #paper, #iframe-container, #app,
#app-container{
    display: grid;
}

#grid-container{
    grid-template-rows: 500px 1100px 200px;
}

#video {
    grid-template-rows: 60px 340px;
}

#paper{
    grid-template-rows: 60px 640px;
}

#iframe-container{
    grid-template-columns: 1fr 4fr 1fr;
}

#app{
    grid-template-rows: 30px 30px auto;
}

#app-link{
    text-align: center;
}

#app a{
    color: darkred;
    text-decoration: none;
}

#app-container{
    grid-template-columns: 1fr 1fr;
}

#app-explanation{
    padding: 10px 5% 0 5%;
    text-align: justify;
}

#app-photo{
    background-position: center;
    background-size: cover;
    width: 100%;
}
