body {
    font-family: sans-serif;
    background-color: #D3D3D3;
    color: lightgray;
    margin: 0;
}
nav {
    align-items: center;
    background-color: rgb(24,24,24);
    display: grid;
    font-size: 16px;
    grid-gap: 10px;
    grid-template-columns: 40px repeat(5, 1fr) 40px;
    grid-template-rows: 50px;
    opacity: .9;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav:hover {
    opacity: 1;
}

nav div{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: steelblue;
}

header {
    background-image: url("Images/python2.jpeg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    grid-template-rows: 800px;
}

iframe {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    height: 600px;
    max-width: 800px;
    place-self: center;
    width: 100%
}

footer {
    align-items: center;
    background-color: rgb(24,24,24);
    color: whitesmoke;
    grid-template-rows: 50px 80px;
    text-align: center;
}

footer a {
    color: whitesmoke;
    font-size: 28px;
}

footer p {
    font-size: 12px;
}

h1 {
    color: white;
    font-size: 72px;
    place-self: center;
    text-align: center;
}

h2 {
    color: #003366;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px rgba(0,0,0,0.23);
}

.bar1, .bar2, .bar3 {
    background-color: #fff;
    height: 3px;
    margin: 6px;
    transition: 0.4s;
    width: 35px;
    visibility: hidden;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);

}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
  transform: rotate(45deg) translate(-3px, -8px);
}

.dropdown-content {
    background-color: rgb(24,24,24);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    width: 0;
    position:absolute;
    top: 51px;
    z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
    display:block;
}

#grid-container, #title-container, #kmeans-container {
    display: grid;
}

#grid-container {
    grid-template-rows: 500px auto 150px;
}

#hamburger-container{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#title-container {
    background-color: black;
    height: 500px;
    opacity: .9;
    width: 100%;
}

#kmeans-container {
    grid-template-rows: 100px 600px;
}

#link-container {
    align-items: flex-end;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-column-gap: 20px;
    justify-content: center;
}

#copyright {
    display: grid;
    height: 80px;
    justify-content: center;
}

@media(max-width: 600px){
    nav div{
        visibility: hidden;
    }

    .bar1, .bar2, .bar3{
        visibility: visible;
    }

    .dropdown-content {
        width: 34vw;
        visibility: visible;
    }
}
